.note {
  width: 300px;
  background-color: #fff;
  margin: 30px 10px 5px 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}
.note h1 {
  font-family: "Monserrat", sans-serif;
  font-size: 2rem;
  padding: 2px 10px;
}

.note p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  padding: 2px 10px;
}
.note button {
  position: relative;
  left: 110px;
  top: 17px;
  margin-bottom: 5px;
  color: white;
  background-color: #41aea9;
  border: none;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 5px 10px 18px #888888;
  cursor: pointer;
  height: 2rem;
  width: 4rem;
}
